.home-page {
  padding: 20px;
  background-color: white;
  margin-left: 40px;
}
.full-width-banners {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px 0;
}

.banner-image {
  width: 100%;
  min-height: 400px;
  padding: 40px 30px;
  border-radius: 16px;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: -20px;
}

.banner-image:hover {
  transform: scale(1.01);
}

.banner-image h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.banner-image p {
  font-size: 1.1rem;
}
.highlight-points {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.highlight-points li {
  margin: 8px 0;
  font-size: 16px;
}

.shop-now-btn {
  background: #ff6f61;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.shop-now-btn:hover {
  background: #e05549;
}
.features-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.features-list li {
  margin: 8px 0;
  font-size: 16px;
}

.explore-btn {
  background: #ff4081;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.explore-btn:hover {
  background: #e91e63;
}

/* Specific Banner Backgrounds */
.banner-discount {
  background-image: url('https://www.shutterstock.com/image-photo/shopping-delivery-healthy-food-background-600nw-1689766759.jpg');
}
.banner-discount:hover {
  background-image: url('https://img.freepik.com/free-photo/shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera_1258-118763.jpg?semt=ais_hybrid&w=740');
}
.banner-trending {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220522/pngtree-ecommerce-banner-planning-segmentation-selection-image_1375247.jpg');
}
.banner-trending:hover{
  background-image: url("https://t3.ftcdn.net/jpg/06/32/90/44/360_F_632904407_iPLi90WdjZ0oKAeRiL98gEIeHIUtzWae.jpg");
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .banner-image h2 {
    font-size: 1.5rem;
  }
  .banner-image p {
    font-size: 1rem;
  }
  .banner-image {
    padding: 20px;
    min-height: 200px;
  }
}
.filters select {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filters select:hover {
  border-color: #007bff;
}
.filters select,
.filters input {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filters select:hover,
.filters input:hover {
  border-color: #007bff;
}
